.location{
    margin: 20px;
    vertical-align: middle;
}
.location_deco{
    font-size: large;
    text-align: center;
    margin-top: 50px;
}
.map{
    width: 500px;
    height: 500px;
    margin: 30px
}

#map {

}